* {
    box-sizing: border-box;
}
body {
    
}
.head {
    display: flex;
    height: 150%;
    color: white;
    font-family: 'Calibri';
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.head__name {
    font-size: 100%;
}
.head__navigation {
    list-style: none;
    font-size: 120%;
    font-family: 'Colibri', sans-serif;
    display: block;
    text-align: center;
    
}
.blocks {
    flex-direction: row;
    flex-wrap: wrap;
}
.blocks__treatment, .blocks__help, .blocks__staff, .blocks__doctors {
    width: 50%;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
}
.head__phone {
    font-size: 80%;
    justify-content: center;
    padding-left: 10%;
}
.head__menu {
    
}
.head__main-image {
    padding-left: 10%;
}
.head__item {
    padding-right: 0px;
}
.banner {
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
}
.banner__info {
    letter-spacing: normal;
    width: 100%;
    font-size: 85%;
    padding-left: 2%;
}
.banner__recall-form {
    text-align: left;
    font-size: 150%;
}
.banner__background {
    background: rgba(255, 255, 255, 0.6);
    padding: 2%;

}