* {
    box-sizing: border-box;
}
body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.head {
    background-color: #43b1d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    padding: 2%;
    color: white;
    font-family: 'Calibri';
}
.head__name {
    font-size: 30px;
    font-weight: 700;
    margin-left: 5%;
}
.banner {
    background: url(../img/doctor.png);
    display: flex;
    height: 500px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 2%;
}
.banner__info {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: 'Colibri', sans-serif;
} 
.banner__recall-form {
    font-family: 'Colibri', sans-serif;
    font-size: 40px;
}
.blocks {
    display: flex;

}
.blocks__treatment, .blocks__help, .blocks__staff, .blocks__doctors {
    width: 25%;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
}
.blocks__treatment {
    background-color: #43b1d2;
}
.blocks__help {
    background-color: #3fb6c6;
}
.blocks__staff {
    background-color: #3cbbbb;
}
.blocks__doctors {
    background-color: #37c3a8;
}
.head__menu {
    display: flex; 
    flex-direction: column;
    max-width: fit-content;
}
.head__navigation {
    list-style: none;
    font-size: 20px;
    font-family: 'Colibri', sans-serif;
    display: flex;
}
a {
    text-decoration: none;
}
.head__main-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: fit-content;
}
.head__phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.head__item {
    padding-right: 30px;
}
a:link {
    color: #494848;
}
a:visited {
    color: #494848;
}
a:active {
    color: white;
}