body {
    padding: 0%;
    margin: 0%;
}

.head__main-image {
    padding-top: 30px;
    object-fit: none;
    padding-right: 20px;
    padding-left: 50px;
}
.head__navigation {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Colibri', sans-serif;
}
a {
    text-decoration: none;
}
.head__item {
    display:inline-block;
    margin-right:10px;
}
.head {
    display: inline-flex;
    background-color: #43b1d2;
    height: 125px;
    display: inline-flex;
    width: 100%;
    color: white;
    font-family: 'Calibri';
}

.head__menu {
    display: table;
    text-align: right;
    margin-top: 30px;
    margin-left: 400px;
}
.banner {
    background: url(img/doctor.png);
    padding-top: 5%;
    padding-right: 55px;
    text-align: right;
    font-family: Calibri;
    max-height: 230px;
    padding-bottom: 13%;
}
.banner__info {
    max-height: 105px;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.banner__recall {
    font-family: Calibri;
    font-size: 48px;
}
.blocks {
    display: inline-flex;
    width: 100%;
}
.blocks__treatment, .blocks__help, .blocks__staff, .blocks__doctors {
    display: inline-table;
    text-align: center;
    width: 25%;
    color: white;
    padding-top: 60px;
    height: 200px;
}
.blocks__treatment {
    background-color: #43b1d2;
}
.blocks__help {
    background-color: #3fb6c6;
}
.blocks__staff {
    background-color: #3cbbbb;
}
.blocks__doctors {
    background-color: #37c3a8;
}
.head__phone {
    font-size: 20px;
    font-family: Tahoma;
}
a:link {
    color: #494848;
}
a:visited {
    color: #494848;
}
a:active {
    color: white;
}
